In [213]:
def print_student_details(name, school, 
                          math, physics, chemistry, biology,
                          enrolled):

    total = math + physics + chemistry + biology

    print("Name:", name)
    print("School:", school, "Enrolled:", enrolled)
    print("Score:", total)

In [214]:
print_student_details(name = "Alice", school = "Columbia", 
                      math = 100, physics = 76, chemistry = 64, biology = 99,
                      enrolled = True
)

Name: Alice
School: Columbia Enrolled: True
Score: 339

In [215]:
print_student_details(name = "Alice", school = "Columbia", 
                      math = 100, physics = 76, chemistry = 64, biology = 99
)

TypeError: print_student_details() missing 1 required positional argument: 'enrolled'

In [216]:
# Default value enrolled = False
def print_student_details(name, school, 
                          math, physics, chemistry, biology,
                          enrolled = False):

    total = math + physics + chemistry + biology

    print("Name:", name)
    print("School:", school, "Enrolled:", enrolled)
    print("Score:", total)

In [217]:
print_student_details(name = "Alice", school = "Columbia", 
                      math = 100, physics = 76, chemistry = 64, biology = 99
)

Name: Alice
School: Columbia Enrolled: False
Score: 339

In [218]:
print_student_details(name = "Alice", school = "Columbia", 
                      math = 100, physics = 76, chemistry = 64, biology = 99,
                      enrolled = True
)

Name: Alice
School: Columbia Enrolled: True
Score: 339

In [219]:
print_student_details(name = "Alice", school = "Columbia", 
                      math = 100, physics = 76, chemistry = 64, biology = 99,
                      enrolled = False
)

Name: Alice
School: Columbia Enrolled: False
Score: 339

In [222]:
# Default values biology = 50, enrolled = False
def print_student_details(name, school, 
                          math, physics, chemistry, biology = 50,
                          enrolled = False):

    total = math + physics + chemistry + biology

    print("Name:", name)
    print("School:", school, "Enrolled:", enrolled)
    print("Biology:", biology)
    print("Score:", total)

In [223]:
print_student_details(name = "Alice", school = "Columbia", 
                      math = 100, physics = 76, chemistry = 64, biology = 99
)

Name: Alice
School: Columbia Enrolled: False
Biology: 99
Score: 339

In [224]:
print_student_details(name = "Alice", school = "Columbia", 
                      math = 100, physics = 76, chemistry = 64
)

Name: Alice
School: Columbia Enrolled: False
Biology: 50
Score: 290

In [225]:
print_student_details(name = "Alice", school = "Columbia", 
                      math = 100, physics = 76
)

TypeError: print_student_details() missing 1 required positional argument: 'chemistry'

In [226]:
# Default values chemistry = 50, biology = 50, enrolled = False
def print_student_details(name, school, 
                          math, physics, chemistry = 50, biology = 50,
                          enrolled = False):

    total = math + physics + chemistry + biology

    print("Name:", name)
    print("School:", school, "Enrolled:", enrolled)
    print("Chemistry:", chemistry)
    print("Biology:", biology)
    print("Score:", total)

In [228]:
print_student_details(name = "Alice", school = "Columbia", 
                      math = 100, physics = 76, chemistry = 64
)

Name: Alice
School: Columbia Enrolled: False
Chemistry: 64
Biology: 50
Score: 290

In [229]:
print_student_details(name = "Alice", school = "Columbia", 
                      math = 100, physics = 76
)

Name: Alice
School: Columbia Enrolled: False
Chemistry: 50
Biology: 50
Score: 276

In [231]:
"""
    No se pueden definir argumentos sin default value despues de argumentos con default value
    Todos los argumentos con default value deben definirse al final de la lista de argumentos
"""

def print_student_details(name, school, 
                          math = 50, physics, chemistry = 50, biology = 50,
                          enrolled = False):

    total = math + physics + chemistry + biology

    print("Name:", name)
    print("School:", school, "Enrolled:", enrolled)
    print("Chemistry:", chemistry)
    print("Biology:", biology)
    print("Score:", total)

SyntaxError: non-default argument follows default argument (745340991.py, line 3)

In [232]:
def print_student_details(name, school = "Harvard", 
                          math, physics, chemistry = 50, biology = 50,
                          enrolled = False):

    total = math + physics + chemistry + biology

    print("Name:", name)
    print("School:", school, "Enrolled:", enrolled)
    print("Chemistry:", chemistry)
    print("Biology:", biology)
    print("Score:", total)

SyntaxError: non-default argument follows default argument (1164446195.py, line 2)

In [233]:
def print_student_details(name = "Mark", school, 
                          math = 50, physics, chemistry = 50, biology = 50,
                          enrolled = False):

    total = math + physics + chemistry + biology

    print("Name:", name)
    print("School:", school, "Enrolled:", enrolled)
    print("Chemistry:", chemistry)
    print("Biology:", biology)
    print("Score:", total)

SyntaxError: non-default argument follows default argument (1393544930.py, line 1)

In [237]:
# Esta es una definicion correcta con default values
def print_student_details(name = "Mark", school = "Harvard", 
                          math = 50, physics = 50, chemistry = 50, biology = 50,
                          enrolled = False):

    total = math + physics + chemistry + biology

    print("Name:", name)
    print("School:", school, "Enrolled:", enrolled)
    print("Math:", math)
    print("Physics:", physics)
    print("Chemistry:", chemistry)
    print("Biology:", biology)
    print("Score:", total)

In [238]:
print_student_details()

Name: Mark
School: Harvard Enrolled: False
Math: 50
Physics: 50
Chemistry: 50
Biology: 50
Score: 200

In [239]:
print_student_details("Alice")

Name: Alice
School: Harvard Enrolled: False
Math: 50
Physics: 50
Chemistry: 50
Biology: 50
Score: 200

In [240]:
print_student_details("Alice", "Columbia")

Name: Alice
School: Columbia Enrolled: False
Math: 50
Physics: 50
Chemistry: 50
Biology: 50
Score: 200

In [241]:
print_student_details("Alice", "Columbia", 99, biology = 66, enrolled = True)

Name: Alice
School: Columbia Enrolled: True
Math: 99
Physics: 50
Chemistry: 50
Biology: 66
Score: 265