In [4]:
def my_introduction():
    print("Hello, my name is Sara")
    print("I live and work in Medellin")

In [5]:
my_introduction()

Hello, my name is Sara
I live and work in Medellin

In [7]:
def introduction(name):
    print("Hello, my name is ", name)
    print("I live and work in Medellin")

In [8]:
introduction("Harry")

Hello, my name is  Harry
I live and work in Medellin

In [9]:
introduction("Henry")

Hello, my name is  Henry
I live and work in Medellin

In [12]:
def general_introduction(name, city):
    print("Hello, my name is ", name)
    print("I live and work in ", city)

In [14]:
general_introduction("John", "San Francisco")

Hello, my name is  John
I live and work in  San Francisco

In [15]:
general_introduction("John", "Dublin")

Hello, my name is  John
I live and work in  Dublin

In [16]:
general_introduction("Dublin", "John")

Hello, my name is  Dublin
I live and work in  John

In [17]:
general_introduction(city = "Dublin", name = "John")

Hello, my name is  John
I live and work in  Dublin

In [20]:
my_introduction("Sara")

TypeError: my_introduction() takes 0 positional arguments but 1 was given

In [22]:
introduction("John", "Dublin")

TypeError: introduction() takes 1 positional argument but 2 were given

In [25]:
general_introduction()

TypeError: general_introduction() missing 2 required positional arguments: 'name' and 'city'

In [26]:
general_introduction("John")

TypeError: general_introduction() missing 1 required positional argument: 'city'

In [27]:
general_introduction(city = "Dublin")

TypeError: general_introduction() missing 1 required positional argument: 'name'