In [4]:
def my_introduction():
    print("Hello, my name is Sara")
    print("I live and work in Medellin")

In [5]:
my_introduction()

Hello, my name is Sara
I live and work in Medellin

In [7]:
def introduction(name):
    print("Hello, my name is ", name)
    print("I live and work in Medellin")

In [8]:
introduction("Harry")

Hello, my name is  Harry
I live and work in Medellin

In [9]:
introduction("Henry")

Hello, my name is  Henry
I live and work in Medellin

In [12]:
def general_introduction(name, city):
    print("Hello, my name is ", name)
    print("I live and work in ", city)

In [14]:
general_introduction("John", "San Francisco")

Hello, my name is  John
I live and work in  San Francisco

In [15]:
general_introduction("John", "Dublin")

Hello, my name is  John
I live and work in  Dublin

In [16]:
general_introduction("Dublin", "John")

Hello, my name is  Dublin
I live and work in  John

In [17]:
general_introduction(city = "Dublin", name = "John")

Hello, my name is  John
I live and work in  Dublin

In [20]:
my_introduction("Sara")

TypeError: my_introduction() takes 0 positional arguments but 1 was given

In [22]:
introduction("John", "Dublin")

TypeError: introduction() takes 1 positional argument but 2 were given

In [25]:
general_introduction()

TypeError: general_introduction() missing 2 required positional arguments: 'name' and 'city'

In [26]:
general_introduction("John")

TypeError: general_introduction() missing 1 required positional argument: 'city'

In [27]:
general_introduction(city = "Dublin")

TypeError: general_introduction() missing 1 required positional argument: 'name'

In [50]:
def square(x):
    print("The square of", x, "is", x*x)

In [51]:
square(3)

The square of 3 is 9

In [52]:
square(10001)

The square of 10001 is 100020001

In [53]:
square("James")

TypeError: can't multiply sequence by non-int of type 'str'

In [54]:
num = 25

square(num)

The square of 25 is 625

In [55]:
another_num = 100

square(num)
square(another_num)

The square of 25 is 625
The square of 100 is 10000

In [56]:
salary = 1000
expense = 300

def my_savings(a, b):
    print("My total savings:", salary - expense)

In [57]:
my_savings(1000, 300)

My total savings: 700

In [58]:
my_savings(1200, 400)

My total savings: 700

In [59]:
def my_actual_savings(a, b):
    print("My total savings:", a - b)

In [60]:
my_actual_savings(1200, 400)

My total savings: 800

In [61]:
my_actual_savings(salary, expense)

My total savings: 700

In [65]:
salary = 2000
expense = 700

def calculate_savings(salary, expense):
    print("My savings are:", salary - expense)

In [66]:
calculate_savings()

TypeError: calculate_savings() missing 2 required positional arguments: 'salary' and 'expense'

In [67]:
calculate_savings(salary, expense)

My savings are: 1300

In [70]:
# Se usan los argumentos de la funcion en vez de las variables globales
calculate_savings(3000, 1000)

My savings are: 2000

In [71]:
total_salary = 4000
total_expense = 2500

calculate_savings(total_salary, total_expense)

My savings are: 1500

In [1]:
def print_many_times(string, times):
    for i in range(times):
        print(string)

In [2]:
print_many_times("Skillfoft", 5)

Skillfoft
Skillfoft
Skillfoft
Skillfoft
Skillfoft

In [3]:
print_many_times(5, "Skillsoft")

TypeError: 'str' object cannot be interpreted as an integer

In [4]:
def print_many_times_with_doc(string, times):
    """
        Prints de specified string the specified number of times

        The first argument is the string you want printed, the second
        argument is the number of times you want the string printed

        Parameters (both required):
        string(str): The string to be printed
        times(int): The number of times the string should be printed

        Returns:
        No return value
    """

    for i in range(times):
        print(string)

In [5]:
print_many_times_with_doc.__doc__

'\n        Prints de specified string the specified number of times\n\n        The first argument is the string you want printed, the second\n        argument is the number of times you want the string printed\n\n        Parameters (both required):\n        string(str): The string to be printed\n        times(int): The number of times the string should be printed\n\n        Returns:\n        No return value\n    '

In [6]:
print(print_many_times_with_doc.__doc__)

        Prints de specified string the specified number of times

        The first argument is the string you want printed, the second
        argument is the number of times you want the string printed

        Parameters (both required):
        string(str): The string to be printed
        times(int): The number of times the string should be printed

        Returns:
        No return value

In [10]:
def print_higher_number_with_error(a, b):

    if a > b:
        print("Higher number is:", a)
    else:
        print("Higher number is:", b)

        result = b + "a"

In [11]:
print_higher_number_with_error(10, 5)

Higher number is: 10

In [12]:
print_higher_number_with_error(10, 20)

Higher number is: 20

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [13]:
def multiply(num_1, num_2, num_3):
    print("Multiplication result:", num_1 * num_2 * num_3)

In [14]:
multiply(1, 2.3, 4)

Multiplication result: 9.2

In [15]:
multiply(1, 2.3, 4, 10)

TypeError: multiply() takes 3 positional arguments but 4 were given

In [16]:
def length(some_list):
    
    count = 0
    for element in some_list:
        count += 1

    print("The length of the list is", count)

In [17]:
num_list = [4, 6, 12, 7, 2, 9, 23]
length(num_list)

The length of the list is 7

In [18]:
car_list = ["Toyota", "Honda", "Hyundai", "Ford"]
length(car_list)

The length of the list is 4

In [19]:
length([4.5, 7.8, 3.3])

The length of the list is 3

In [21]:
num_cars = len(car_list)
num_cars

4

In [22]:
num_cars = length(car_list)

The length of the list is 4

In [23]:
num_cars

In [24]:
print(num_cars)

None