In [158]:
def introduction(name, city):
    print("Hello, my name is", name)
    print("I live and work in", city)

In [160]:
introduction()

TypeError: introduction() missing 2 required positional arguments: 'name' and 'city'

In [161]:
introduction("Rose")

TypeError: introduction() missing 1 required positional argument: 'city'

In [162]:
introduction("Rose", "San Jose")

Hello, my name is Rose
I live and work in San Jose

In [163]:
def sum_of(num_1, num_2, num_3):
    return(num_1 + num_2 + num_3)

sum_of(25, 34)

TypeError: sum_of() missing 1 required positional argument: 'num_3'

In [164]:
def total_score(math, physics, chemistry, biology):

    print("Math:", math, "Physics:", physics, "Chemistry:", chemistry, "Biology:", biology)
    return math + physics + chemistry + biology

In [165]:
total_score(100, 56, 34, 99)

Math: 100 Physics: 56 Chemistry: 34 Biology: 99

289

In [166]:
total_score(math = 100, physics = 56, chemistry = 34, biology = 99)

Math: 100 Physics: 56 Chemistry: 34 Biology: 99

289

In [167]:
total_score(math = 100, physics = 56, chem = 34, biology = 99)

TypeError: total_score() got an unexpected keyword argument 'chem'

In [168]:
total_score(ma = 100, phy = 56, chemistry = 34, biology = 99)

TypeError: total_score() got an unexpected keyword argument 'ma'

In [174]:
total_score(100, physics = 56, chemistry = 34, biology = 99)

Math: 100 Physics: 56 Chemistry: 34 Biology: 99

289

In [175]:
total_score(100, physics = 56, chemistry = 34, biology = 99, math = 200)

TypeError: total_score() got multiple values for argument 'math'

In [176]:
total_score(100, 56, chemistry = 34, biology = 99)

Math: 100 Physics: 56 Chemistry: 34 Biology: 99

289

In [177]:
total_score(100, 56, 34, biology = 99)

Math: 100 Physics: 56 Chemistry: 34 Biology: 99

289

In [186]:
"""
    Primero se deben especificar todos los pisitional arguments,
    a continuacion los keyword arguments.
    No se pueden especificar positional arguments entre/despues de keyword arguments.
"""
total_score(math = 100, 56, chemistry = 34, biology = 99)

SyntaxError: positional argument follows keyword argument (2416989373.py, line 6)

In [187]:
total_score(math = 100, physics = 56, 34, biology = 99)

SyntaxError: positional argument follows keyword argument (1242493766.py, line 1)

In [188]:
total_score(math = 100, physics = 56, chemistry = 34, 99)

SyntaxError: positional argument follows keyword argument (3684103033.py, line 1)

In [189]:
# Los argumentos se pueden especificar en un orden diferente al de la declaracion de la funcion
total_score(biology = 99, math = 100, physics = 56, chemistry = 34)

Math: 100 Physics: 56 Chemistry: 34 Biology: 99

289

In [190]:
total_score(chemistry = 34, biology = 99, math = 100, physics = 56)

Math: 100 Physics: 56 Chemistry: 34 Biology: 99

289

In [191]:
# No se pueden especificar varios valores para el mismo argumento
total_score(34, biology = 99, math = 100, physics = 56)

TypeError: total_score() got multiple values for argument 'math'

In [195]:
# No se pueden repetir keyword argument
total_score(physics = 34, biology = 99, math = 100, physics = 56)

SyntaxError: keyword argument repeated: physics (1613493023.py, line 2)

In [196]:
def print_student_details(name, school, math, physics, chemistry, biology):

    total = math + physics + chemistry + biology

    print("Name:", name)
    print("School:", school)
    print("Score:", total)

In [197]:
print_student_details(
    "Alice", "Columbia",
    math = 100, physics = 76, chemistry = 64, biology = 99
)

Name: Alice
School: Columbia
Score: 339

In [198]:
print_student_details(
    "Columbia", "Alice",
    math = 100, physics = 76, chemistry = 64, biology = 99
)

Name: Columbia
School: Alice
Score: 339

In [200]:
# Siempre es recomendable usar keyword arguments en lugar de positiona arguments
print_student_details(
    name = "Alice", school = "Columbia", 
    math = 100, physics = 76, chemistry = 64, biology = 99
)

Name: Alice
School: Columbia
Score: 339

In [203]:
# La funcion sorted ordena por defecto de manera ascendente los elementos de una lista
num_list = [3, 6, 1, 9, 5, 7]

sorted(num_list)

[1, 3, 5, 6, 7, 9]

In [206]:
sorted(num_list, reverse = False)

[1, 3, 5, 6, 7, 9]

In [208]:
# reverse = True ordena de manera descendente
sorted(num_list, reverse = True)

[9, 7, 6, 5, 3, 1]

In [209]:
# El separador por defecto es " "
print("Alice", "Peter", "Greg")

Alice Peter Greg

In [210]:
# Se define sep = "|"
print("Alice", "Peter", "Greg", sep = "|")

Alice|Peter|Greg

In [211]:
# Argumento de entrada al final
print("Alice", "Peter", "Greg", sep = "|", end = "****")

Alice|Peter|Greg****