In [31]:
def substact(num_1, num_2):
    
    result = num_1 - num_2

In [32]:
substact(10, 7.7)

In [33]:
r = substact(100, 50)

In [34]:
print(r)

None

In [35]:
type(r)

NoneType

In [36]:
def substact_returns_none_by_default(num_1, num_2):
    
    result = num_1 - num_2

    return None

In [37]:
r = substact_returns_none_by_default(100, 50)

print(r)

None

In [38]:
type(r)

NoneType

In [39]:
def substact_returns_a_result(num_1, num_2):
    
    result = num_1 - num_2

    return result

In [40]:
r = substact_returns_a_result(100, 50)

print(r)

50

In [41]:
type(r)

int

In [42]:
def length(some_list):
    
    count = 0
    for element in some_list:
        count += 1

    print("The length of the list is", count)

    return count

In [43]:
l = length([100, 200, 300])

The length of the list is 3

In [44]:
l

3

In [51]:
def find_max_in_list(some_list):

    max_element = some_list[0]

    length = len(some_list)

    for i in range(1, length):

        if some_list[i] > max_element:
            max_element = some_list[i]
    
    return max_element

In [52]:
num_list = [5, 4, 6, 7, 2, 10, 11, 3]

In [53]:
max_element = find_max_in_list(num_list)

print(max_element)

11

In [54]:
num_list.append(24)

In [55]:
max_element = find_max_in_list(num_list)

print(max_element)

24

In [58]:
def empty_return(x, y):

    total = x + y

    return

In [59]:
result = empty_return(10, 20)

In [60]:
print(result)

None

In [62]:
type(result)

NoneType

In [63]:
def add_sub(x, y):

    add_result = x + y
    sub_result = x - y

    return add_result, sub_result

In [64]:
add_sub(5, 4)

(9, 1)

In [65]:
result = add_sub(5, 4)

result

(9, 1)

In [67]:
result_1, result_2 = add_sub(5, 4)

In [68]:
result_1

9

In [69]:
result_2

1

In [73]:
# Almacena el primer resultado e ignora el segundo
result_1, _ = add_sub(5, 4)

In [74]:
result_1

9

In [75]:
# Ignora el primer resultado y almacena el segundo
_, result_2 = add_sub(5, 4)

In [76]:
result_2

1

In [77]:
def positive_or_negative(num):

    if num > 0:
        return "Positive!"
    else:
        return "Zero or negative"

In [78]:
positive_or_negative(20)

'Positive!'

In [79]:
positive_or_negative(-10)

'Zero or negative'

In [80]:
def positive_or_negative_zero(num):

    if num > 0:
        return "Positive!"
    elif num < 0:
        return "Negative!"
    else:
        return "Zero"

In [81]:
positive_or_negative_zero(90)

'Positive!'

In [82]:
positive_or_negative_zero(-90)

'Negative!'

In [83]:
positive_or_negative_zero(0)

'Zero'

In [91]:
def positive_negative_zero_forgotrturn(num):

    if num > 0:
        return "Positive!"
    elif num < 0:
        return "Negative"

In [92]:
positive_negative_zero_forgotrturn(90)

'Positive!'

In [93]:
positive_negative_zero_forgotrturn(-10)

'Negative'

In [94]:
positive_negative_zero_forgotrturn(0)

In [95]:
empty_list = []

find_max_in_list(empty_list)

IndexError: list index out of range

In [96]:
def find_max_in_list(some_list):

    if len(some_list) == 0:
        print("Zero element list!")

        return None

    max_element = some_list[0]

    length = len(some_list)

    for i in range(1, length):

        if some_list[i] > max_element:
            max_element = some_list[i]
    
    return max_element

In [97]:
find_max_in_list(empty_list)

Zero element list!

In [119]:
def find_first_capital_letter(some_string):
    
    capital_letter = None

    for ch in some_string:

        if ch.upper() == ch and ch != " ":
            capital_letter = ch
            break
        
    if capital_letter is None:
        return "No capital letters found"
    else:
        return "First capital letter " + capital_letter

In [120]:
find_first_capital_letter("how Are you")

'First capital letter A'

In [121]:
find_first_capital_letter("how are you")

'No capital letters found'

In [122]:
def create_dictionary_representation(name, age, occupation):

    dictionary = {
        "name": name,
        "age": age,
        "occupation": occupation
    }

    return dictionary

In [123]:
info_dictionary = create_dictionary_representation("John", 35, "Engineer")

In [124]:
info_dictionary

{'name': 'John', 'age': 35, 'occupation': 'Engineer'}

In [129]:
def generate_list(name, num_elements):
    
    return_list = []

    for i in range(num_elements):
        return_list.append(name)
    
    return return_list

In [131]:
some_list = generate_list("Sara", 5)

some_list

['Sara', 'Sara', 'Sara', 'Sara', 'Sara']

In [134]:
some_list = generate_list("Louise", 3)

some_list

['Louise', 'Louise', 'Louise']

In [137]:
def generate_list(name, num_elements):
    
    print("Generate list using list comprehension")
    return_list = [name for i in range(num_elements)]
    
    return return_list

In [138]:
some_list = generate_list("John", 5)

some_list

Generate list using list comprehension

['John', 'John', 'John', 'John', 'John']

In [141]:
def generate_list(name, num_elements):
  
    return [name for i in range(num_elements)]

In [142]:
some_list = generate_list("Sunflower", 5)

some_list

['Sunflower', 'Sunflower', 'Sunflower', 'Sunflower', 'Sunflower']

In [148]:
def add(a, b):
    return a + b

In [149]:
def sub(a, b):
    return a - b

In [150]:
def mul(a, b):
    return a * b

In [151]:
def div(a, b):
    return a / b

In [152]:
def calculate(a, b, operator):

    if operator == "add":
        return add(a, b)
    
    if operator == "sub":
        return sub(a, b)
    
    if operator == "mul":
        return mul(a, b)
    
    if operator == "div":
        return div(a, b)

In [153]:
calculate(10, 5, "add")

15

In [154]:
calculate(10, 5, "mul")

50

In [155]:
calculate(10, 5, "div")

2.0

In [156]:
calculate(10, 5, "meaningless")