In [255]:
print()

In [256]:
print("Bob")

Bob

In [257]:
print("Bob", "Peter")

Bob Peter

In [258]:
print("Greg", "Claudia", "Bob")

Greg Claudia Bob

In [259]:
print("Greg", "Claudia", "Bob", "Peter")

Greg Claudia Bob Peter

In [260]:
# Al definir un argumento de entrada, este siempre es obligatorio
def print_fn(string_1):
    print(string_1)

In [261]:
print_fn()

TypeError: print_fn() missing 1 required positional argument: 'string_1'

In [262]:
def print_fn(string_1 = "\n"):
    print(string_1)

In [263]:
print_fn()

In [264]:
print_fn("Bob")

Bob

In [265]:
print_fn("Bob", "Peter")

TypeError: print_fn() takes from 0 to 1 positional arguments but 2 were given

In [270]:
def print_fn(string_1 = "\n", string_2 = ""):
    print(string_1, string_2)

In [271]:
print_fn()

In [272]:
print_fn("Bob")

Bob

In [273]:
print_fn("Bob", "Peter")

Bob Peter

In [275]:
print_fn("Greg", "Claudia", "Bob")

TypeError: print_fn() takes from 0 to 2 positional arguments but 3 were given

In [277]:
# Esta funcion acepta un numero indefinido de variables
# Incluye los argumentos en una tupla
def print_fn(*args):
    
    args_type = type(args)
    print(args_type)

    print(args)

In [278]:
print_fn()

<class 'tuple'>
()

In [279]:
print_fn("Bob")

<class 'tuple'>
('Bob',)

In [280]:
print_fn("Bob", "Peter")

<class 'tuple'>
('Bob', 'Peter')

In [281]:
print_fn("Greg", "Claudia", "Bob")

<class 'tuple'>
('Greg', 'Claudia', 'Bob')

In [282]:
print_fn("Greg", "Claudia", "Bob", "Alice", "Steve", "Jim")

<class 'tuple'>
('Greg', 'Claudia', 'Bob', 'Alice', 'Steve', 'Jim')

In [283]:
names_list = ["Greg", "Claudia", "Bob", "Alice", "Steve", "Jim"]

In [284]:
print_fn(names_list)

<class 'tuple'>
(['Greg', 'Claudia', 'Bob', 'Alice', 'Steve', 'Jim'],)

In [285]:
# Desempaqueta la lista para que cada elemento sea un argumento
print_fn(*names_list)

<class 'tuple'>
('Greg', 'Claudia', 'Bob', 'Alice', 'Steve', 'Jim')

In [1]:
def students_in_college(college, city, *students):

    print("College:", college)
    print("City:", city)
    print("Students:", students)

In [2]:
students_in_college()

TypeError: students_in_college() missing 2 required positional arguments: 'college' and 'city'

In [3]:
students_in_college("Columbia")

TypeError: students_in_college() missing 1 required positional argument: 'city'

In [4]:
students_in_college("Columbia", "New York")

College: Columbia
City: New York
Students: ()

In [5]:
students_in_college("Columbia", "New York", "Bob")

College: Columbia
City: New York
Students: ('Bob',)

In [6]:
students_in_college("Columbia", "New York", "Peter", "Julie")

College: Columbia
City: New York
Students: ('Peter', 'Julie')

In [8]:
students_in_college("Columbia", "New York", "Peter", "Julie", "Trista")

College: Columbia
City: New York
Students: ('Peter', 'Julie', 'Trista')

In [9]:
students_in_college(city = "New York", college = "Columbia", "Peter", "Julie", "Trista")

SyntaxError: positional argument follows keyword argument (2143922844.py, line 1)

In [13]:
def students_in_college(*students, college, city):

    print("College:", college)
    print("City:", city)
    print("Students:", students)

In [14]:
students_in_college("Columbia", "New York", "Bob")

TypeError: students_in_college() missing 2 required keyword-only arguments: 'college' and 'city'

In [15]:
students_in_college("Peter", "Julie", "Trista", college = "Columbia", city = "New York")

College: Columbia
City: New York
Students: ('Peter', 'Julie', 'Trista')

In [16]:
def students_in_college(*students, college, city = "Boston"):

    print("College:", college)
    print("City:", city)
    print("Students:", students)

In [17]:
students_in_college("Bob")

TypeError: students_in_college() missing 1 required keyword-only argument: 'college'

In [18]:
students_in_college("Bob", "Harvard")

TypeError: students_in_college() missing 1 required keyword-only argument: 'college'

In [20]:
students_in_college("Bob", "Peter", college = "Harvard")

College: Harvard
City: Boston
Students: ('Bob', 'Peter')

In [22]:
# Keyword Arguments de Longitud Variable
# Incluye los argumentos en un diccionario

def student_details(**kwargs):
    
    print(type(kwargs))
    print(kwargs)

In [23]:
student_details()

<class 'dict'>
{}

In [24]:
student_details(name = "John")

<class 'dict'>
{'name': 'John'}

In [25]:
student_details(name = "John", age = 18)

<class 'dict'>
{'name': 'John', 'age': 18}

In [26]:
student_details(name = "John", age = 18, college = "Boston University")

<class 'dict'>
{'name': 'John', 'age': 18, 'college': 'Boston University'}

In [28]:
def student_details(**details):
    
    for key, value in details.items():
        print(key, value)

In [29]:
student_details(name = "John", age = 18, college = "Boston University")

name John
age 18
college Boston University

In [30]:
details_dictionary = {'name': 'John', 'age': 18, 'college': 'Boston University'}

In [31]:
student_details(details_dictionary)

TypeError: student_details() takes 0 positional arguments but 1 was given

In [32]:
student_details(**details_dictionary)

name John
age 18
college Boston University

In [33]:
def student_details(**details):

    if "name" in details:
        print("Name: ", details["name"])
    if "age" in details:
        print("Age: ", details["age"])
    if "college" in details:
        print("College: ", details["college"])

In [34]:
student_details(name = "John")

Name:  John

In [35]:
student_details(name = "John", college = "Boston University")

Name:  John
College:  Boston University

In [36]:
student_details(name = "John", college = "Boston University", age = 21)

Name:  John
Age:  21
College:  Boston University

In [40]:
def students_in_college(*student_names, **college_details):
    
    print("Students--")
    for name in student_names:
        print(name)
    
    print()

    print("College Details--")
    for key, value in college_details.items():
        print(key, value)

In [42]:
students_in_college("Allison", "Bob", "Charlie", name = "Stanford", city = "Palo Alto")

Students--
Allison
Bob
Charlie

College Details--
name Stanford
city Palo Alto